html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    align-content: center;
    background-color: #322a2d;
    font-family: 'Roboto', serif
}

h1 {
    color: #E0115F;
    margin-top: 6rem;
}

p {
    color: #ffcccc;
}

.name {
    color: orange;
}

strong {
    color: #82140c;
    font-style: italic;
    font-size: 1rem;
}

img {
    display: inline;
    width: 75%;
}

#center {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.project {
    box-shadow: 2px 2px #2c2528;
    margin: 6rem auto;
    background-color: #2c2528;
    border: 1px orange;
    border-style: solid;
    border-radius: 3px;
}

.project:hover {
    background-color: #E0115F;
}

.container {
    position: relative;
}

#welcometxt {
    color: wheat;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 5%;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 65%; /* Set the width of the positioned div */
    font-size: 2rem;
}

#welcometime {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
}

#msg {
    width:100%;
}

#start {
    background-color: tomato;
    border:none;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top: 50vh;
    left: 0;
    right:0;
    width: 25%;
    height: 60%;
    border-radius: 80%;
    box-shadow: 0 2px darkred;
}

#start::after {
    display:block;
    font-size:3rem;
    content: "\2965";
    color: #322a2d;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

#start:hover::after {
    color: wheat;
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
}

#arrow {
    font-size: 8rem;
}

#start:hover {
    background-color: #E0115F;
}

#start:active {
    box-shadow: unset;
}

.languages {
    color: teal
}

#header {
    height: 100vh;
    text-align: center;
    padding: 1rem;
}