html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    align-content: center;
    background-color: #322a2d;
    font-family: 'Roboto', serif
}

h1 {
    color: #E0115F;
}

p {
    color: #ffcccc;
}

.name {
    color: orange;
}

strong {
    color: #82140c;
    font-style: italic;
    font-size: 1rem;
}

img {
    display: inline;
    width: 75%;
}

#center {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.header {
    text-align: center;
    background-color: #2c2528;
    padding: 1rem;
}

.project {
    box-shadow: 2px 2px #2c2528;
    margin: 6rem auto;
    background-color: #2c2528;
    border: 1px orange;
    border-style: solid;
    border-radius: 3px;
}

.project:hover {
    background-color: #E0115F;
}

.container {
    position: relative;
}

#welcometxt {
    color: wheat;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 40%; /* Set the width of the positioned div */
}

#welcometime {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
}

.languages {
    color: teal
}